$white-fcf: #fcfcfc;
$black: rgba(0,0,0, 0.8);
$dark-gray: rgba(49, 49, 49, 0.5);
$gold : #e0bf0b;

$bg-lm: $white-fcf;
$bg-card-lm:white;
$txt-lm: $black;

$bg-dm:$black;
$bg-card-dm: $dark-gray;
$txt-dm:$white-fcf;