.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    h1 {
        font-size: 24px;
        color: rgba(0,0,0,0.8);
    }
}